<div class="articles">
  <h4>All posts</h4>
  <ul>
  <%= for article <- @articles do %>
    <li>
      <a href="<%= Erlangelist.Article.link(article) %>"><%= Erlangelist.Article.title(article) %></a>
    </li>
  <% end %>
  </ul>
</div>