<h1><%= @article.long_title %></h1>
<h4 class="right"><%= @article.posted_at %></h4>

<div class="article-body">
  <%= {:safe, Erlangelist.Article.html(@article)} %>
</div>

<div class="article-footer">
  <i>This article is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.</i>
</div>