<div class="articles">
  <h4>All posts</h4>
  <ul>
  <%= for {article_id, _} <- @articles do %>
    <li>
      <a href="<%= Erlangelist.Article.link(article_id) %>"><%= Erlangelist.Article.short_title(article_id) %></a>
    </li>
  <% end %>
  </ul>
</div>