<h3><%= model_display(@model) %>(<%= @key %>) / <%= @period %></h3>

<div class="container-fluid">
  <div class="col-md-2">
    <table class="hits">
      <%= for {datetime, value} <- @rows do %>
        <tr>
          <td><%= drilldown_format_date(datetime, @period) %></td>
          <td><%= value %></td>
        </tr>
      <%= end %>
    </table>
  </div>
</div>