<h1>Admin overview</h1>

<div>
  <%= for {type, views} <- @article_views do %>
    <h2><%= type %></h2>
    <table>
      <%= for {article_id, count} <- views do %>
        <%
          title = case Erlangelist.Article.article(article_id) do
            nil -> article_id
            article -> article.short_title
          end
        %>
        <tr>
          <td><%= title %></td>
          <td><%= count %></td>
        </tr>
      <% end %>
    </table>
  <%= end %>
</div>