<div class="articles">
  <h4>Posts</h4>
  <ul>
    <%= for article <- @articles do %>
      <li>
        <a href="<%= article.link %>"><%= article.sidebar_title %></a>
      </li>
    <% end %>
  </ul>

</div>
