[Unit]
Description=The Erlangelist site
Requires=docker.service
After=docker.service

[Service]
ExecStart=/opt/erlangelist/erlangelist-site.sh start
ExecStop=/opt/erlangelist/erlangelist-site.sh stop

[Install]
WantedBy=multi-user.target
