[Unit]
Description=The Erlangelist database server
Requires=docker.service
After=docker.service

[Service]
ExecStart=/opt/erlangelist/erlangelist-database.sh startf
ExecStop=/opt/erlangelist/erlangelist-database.sh stop
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
