[Unit]
Description=The Erlangelist geoip server
Requires=docker.service
After=docker.service

[Service]
ExecStart=/opt/erlangelist/erlangelist-geoip.sh startf
ExecStop=/opt/erlangelist/erlangelist-geoip.sh stop
Restart=always
RestartSec=1s

[Install]
WantedBy=multi-user.target
