[Unit]
Description=The Erlangelist site
Requires=erlangelist-database.service
After=erlangelist-database.service

[Service]
ExecStart=/opt/erlangelist/erlangelist-site.sh start
ExecStop=/opt/erlangelist/erlangelist-site.sh stop

[Install]
WantedBy=multi-user.target
