<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Erlangelist</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <div class="container">
        <div class="header">
          <h2><a href="/">The Erlangelist</a></h2>
          <i>(not only) Erlang related musings</i>
          <p>Hi, I am Saša Jurić, a software developer with 10+ years of professional experience in programming of web and desktop applications using Elixir, Erlang, Ruby, JavaScript, C# and C++. I'm also the author of the upcoming <a href="https://www.manning.com/books/elixir-in-action?a_aid=sjuric">Elixir in Action</a> book. In this blog you can read about Erlang and other programming related topics. You can subscribe to the <a href="/feeds/posts/default">feed</a>, follow me on <a href="https://twitter.com/sasajuric">Twitter</a> or fork me on <a href="https://github.com/sasa1977">GitHub</a>.</p>
        </div>

        <div class="row">

          <div class="col-9 col-sm-9 col-lg-9 main">
            <%= @inner %>
          </div>

          <div class="col-3 col-sm-3 col-lg-3 right">
            <div class="col-xs-12" style="height:130px;"></div>
            <nav class="nav" data-spy="affix" data-offset-top="220" data-target=".right" data-offset-bottom="200">
              <a href="https://www.manning.com/books/elixir-in-action?a_aid=sjuric" title="Elixir in Action"><img height="250" src="/images/EIA_150.jpg" width="200"></a>
              <div class="col-xs-12" style="height:50px;"></div>
              <%= Erlangelist.ArticleView.articles_links_html %>
            </nav>
          </div>
        </div>
      </div>

    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
