<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Erlangelist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <div class="container-fluid">
        <div class="col-md-9 left-bar">
          <div>
            <div class="title">
              <h2><a href="/">The Erlangelist</a></h2>
              <i>(not only) Erlang related musings</i>
            </div>

            <i>Hi, I am Saša Jurić, a software developer with 10+ years of professional experience in programming of web and desktop applications using Elixir, Erlang, Ruby, JavaScript, C# and C++. I'm also the author of the upcoming <a href="https://www.manning.com/books/elixir-in-action?a_aid=sjuric">Elixir in Action</a> book. In this blog you can read about Erlang and other programming related topics. You can subscribe to the <a href="/rss">feed</a>, follow me on <a href="https://twitter.com/sasajuric">Twitter</a> or fork me on <a href="https://github.com/sasa1977">GitHub</a>.</i>

          <%= @inner %>
        </div>
      </div>

      <div class="col-md-3 right-bar">
        <div class="eia-image-link">
          <a href="https://www.manning.com/books/elixir-in-action?a_aid=sjuric" title="Elixir in Action"><img src="/images/EIA_150.jpg"/></a>
        </div>
        <%= Erlangelist.ArticleView.articles_links_html %>
      </div>
    </div>


    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
