[Unit]
Description=The Erlangelist site
Requires=docker.service
After=docker.service

[Service]
ExecStart=/opt/erlangelist/start-site.sh
ExecStop=/opt/erlangelist/stop-site.sh

[Install]
WantedBy=multi-user.target
